/* *{
    margin: 0;
    padding: 0;
} */

body{
    box-sizing: border-box;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type="text"] {
    margin: 10px 0;
    display: block;
  }

  input[type="number"] {
    margin: 10px 0;
    display: block;
  }

[v-cloak]{
    display: none;
}